div{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
}
.contenedor{
    position: relative;
    padding:0px;
    border:0px;
}

.encabezado{
    height:35px;
    position: relative;
    display: inline-block;
}

.panel{
    width: 33.3%;
    height: 70px;
    position: relative;
    display: inline-block;
}
.pie{
    height: 40px;
    display:inline-block;
    padding-top: 35px;
}
