@media screen and (min-width: 760px) {
    .jumbotron {
        margin-top: 40px;
        background-color: rgb(130, 130, 139);
    }

    .body-content {
        padding:0px;
    }
}
div{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contenedor{
    position: relative;
    padding:0px;
    border:0px;
}

.titulo{
  height:150px;
  position:relative;
  display:inline-block;
  background-color: rgb(47, 126, 218);
  border-width:3px;
  border-style:solid;
  border-color:skyblue;
}

.msg{
  height: 150px;
  position:relative;
  display: inline-block;
  background-color:rgb(81, 81, 230);
  border-width:3px;
  border-style:solid;
  border-color:skyblue;
}

input[type=text],select{
    width:70%;
    padding:5px 10px;
}

h2{
    text-align: left;
    font-family: tahoma;
    font-size: 15px;
    color:whitesmoke;
}
h4{
    text-align: left;
    font-family: tahoma;
    font-size: 10px;
    color:rgb(17, 17, 17);
}

button {
    background-color:teal;
    border:none;
    border-radius: 8px;
    color: white;
    
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    
}
button:hover{
    background-color: midnightblue;
    transition: background-color, 1.5s;
}